public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientOcclusionFace
public net.minecraft.client.renderer.block.ModelBlockRenderer renderModelFaceAO(Lnet/minecraft/world/level/BlockAndTintGetter;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/core/BlockPos;Lcom/mojang/blaze3d/vertex/PoseStack;Lcom/mojang/blaze3d/vertex/VertexConsumer;Ljava/util/List;[FLjava/util/BitSet;Lnet/minecraft/client/renderer/block/ModelBlockRenderer$AmbientOcclusionFace;I)V # renderModelFaceAO
public net.minecraft.client.renderer.block.ModelBlockRenderer putQuadData(Lnet/minecraft/world/level/BlockAndTintGetter;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/core/BlockPos;Lcom/mojang/blaze3d/vertex/VertexConsumer;Lcom/mojang/blaze3d/vertex/PoseStack$Pose;Lnet/minecraft/client/renderer/block/model/BakedQuad;FFFFIIIII)V # putQuadData
public net.minecraft.client.renderer.block.ModelBlockRenderer calculateShape(Lnet/minecraft/world/level/BlockAndTintGetter;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/core/BlockPos;[ILnet/minecraft/core/Direction;[FLjava/util/BitSet;)V # calculateShape
public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientOcclusionFace lightmap # lightmap
public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientOcclusionFace brightness # brightness
public net.minecraft.client.particle.ParticleEngine spriteSets # spriteSets
public com.mojang.blaze3d.vertex.BufferBuilder sortingPoints # sortingPoints
public com.mojang.blaze3d.vertex.BufferBuilder putSortedQuadIndices(Lcom/mojang/blaze3d/vertex/VertexFormat$IndexType;)V # putSortedQuadIndices
public com.mojang.blaze3d.vertex.BufferBuilder mode # mode
public com.mojang.blaze3d.vertex.BufferBuilder intConsumer(ILcom/mojang/blaze3d/vertex/VertexFormat$IndexType;)Lit/unimi/dsi/fastutil/ints/IntConsumer; # intConsumer
public com.mojang.blaze3d.vertex.BufferBuilder nextElementByte # nextElementByte
public com.mojang.blaze3d.vertex.BufferBuilder sortX # sortX
public com.mojang.blaze3d.vertex.BufferBuilder sortY # sortY
public com.mojang.blaze3d.vertex.BufferBuilder sortZ # sortZ
public com.mojang.blaze3d.vertex.BufferBuilder sorting # sorting

#Armor trim
public net.minecraft.data.models.ItemModelGenerators GENERATED_TRIM_MODELS
public net.minecraft.data.models.ItemModelGenerators$TrimModelData

public net.minecraft.world.inventory.AbstractContainerMenu remoteSlots # remoteSlots
public net.minecraft.world.entity.projectile.AbstractArrow piercingIgnoreEntityIds # piercingIgnoreEntityIds
public net.minecraft.world.entity.projectile.AbstractArrow piercedAndKilledEntities # piercedAndKilledEntities
public net.minecraft.world.entity.projectile.AbstractArrow setPierceLevel(B)V # setPierceLevel