name: Build

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    if: |
      !contains(github.event.head_commit.message, '[ciskip]')
    uses: ./.github/workflows/base.yml
    with:
      gradle-tasks: 'build'
