name: Build

on: [push, pull_request]

jobs:
  build:
    if: |
      !contains(github.event.head_commit.message, '[ciskip]')
    uses: ./.github/workflows/base.yml
    with:
      gradle-tasks: 'build'
